<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKU6i5pNC7AdSETzsIFur4fxFR1fNftfs</string>
	<key>GCM_SENDER_ID</key>
	<string>929187973688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobile.RKCRajkot-Student-App</string>
	<key>PROJECT_ID</key>
	<string>rkc-student</string>
	<key>STORAGE_BUCKET</key>
	<string>rkc-student.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929187973688:ios:cc61946813abb1be7eb4cd</string>
</dict>
</plist>